body {
    background-color: whitesmoke  !important;
}

.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}


.nav-wrapper {
    /* background-color: #757575 ; */
    background: #ef5350;
}

#tableWrapper {
    overflow-y: auto;
    max-height: 30rem;
}

#errorSpan{
    display: none;
    color: red;
}
