
.nav-wrapper {
    background-color: #388e3c;
}

.container {
    display: block;
}

.icon {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#logOutButton{
    background-color: inherit;
    border: none;
}
